.epic-color-menu{
  position: relative;
  top: -11px;
  left: -15px;
  height: 38px;
  width: 6px;
}

.navbar.project-header{
	border: none;
	border-radius: 0px;
	color: #e7e7e7;
	margin: 0px;
  margin-top: -15px;
	padding: 10px;
	background: #646464;
	border-bottom: #505050;
}

.task-overflowed {
    position: absolute;
    top: 151px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.project-task-name {
    margin-top: 14px;
    margin-bottom: 1px;
}

.project-header h1{
	margin-top: 20px;
}

.project-tools{
  padding-right: 20px;
  padding-top: 23px;
}

.project-manager{
  margin-top: 7px;
}

.overflowed{
  overflow-y: auto;
  position: absolute;
  top: 151px;
  bottom: 0;
  left: 0;
  right: 0;
}

.avatar{
  float: left;
  margin-top: 18px;
  border: 1px solid #ccc;
}

.task-create-scroller, .project-settings-scroller, .all-projects-scroller{
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 151px;
}

.project-settings-scroller, .all-projects-scroller{
  top: 151px;
}

.panel-heading > .row > div.title{
  margin-top: 4px;
}

.timesheet-updating{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 47px;
  background: #ccc;
  z-index: 100;
  opacity: 0.7;
  display: none;
}

.timesheet-container{
  top: 151px !important;
}

#timesheet_export {
    top: 22px !important;
}

.recent-activity {
    height: 675px !important;
}

.filters-container, .projects-container {
    top: 220px !important;
    bottom: 5px !important;
}

.linked {
    min-height: 20px !important;
    overflow-y: auto !important;
    max-height: 570px !important;
}
